.btn {
	padding: 18px 20px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	display: block;
	text-decoration: none;
	text-align: center;


	@media (min-width: 700px) {
		width: 300px;
	}

	&--app {
		width: auto;
		margin-bottom: 27px;
		padding: 16px 26px;
		font-size: 18px;
	line-height: 18px;
	font-weight: 700;
		color: #fff;
		border: solid 3px #fff;
		border-radius: 30px;

		@media (min-width: 700px) {
			margin-bottom: 43px;
		}

		@media (min-width: 1200px) {
			margin-bottom: 64px;
			font-size: 21px;
		}

		&:hover{
			color: #d22856;
			background: #fff;
			box-shadow: 0 5px 7px 0 rgba(1, 1, 1, 0.25);
		}

		&:active{
			color: #f1becc;
			box-shadow: none;
		}
  }
}
