
.download-app {
  position: relative;
  padding: 27px 0px 18px;
	background: #1d2631;
	text-align: center;
	z-index: 20;

	@media (min-width: 700px) {
		position: relative;
		display: flex;
		min-height: 500px;
		padding: 90px 0px 28px;
		background: transparent;
		z-index: 20;
	}

	@media (min-width: 1200px) {
    padding-top: 110px;
    padding-bottom: 108px;
	}
}

.download-app::before {
  display: none;

  @media (min-width: 700px) {
  display: block;
	content: "";
  position: absolute;
  margin: auto;
  top: auto;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 700px;
  height: 545px;

  background: url(../img/iphone-hand-tablet@1x.png) no-repeat top center;
  background-size: cover;
	}

	@media (min-width: 1200px) {
    display: none;
	}
  }

.download-app__wrapper {
  position: relative;
	@media (min-width: 700px) {
    flex-basis: 48.388%;
		max-width: 48.388%;
	}

	@media (min-width: 1200px) {
		flex-basis: 32%;
		max-width: 32%;
	}
}

.download-app__headline {
  position: absolute;
  display: block;
  bottom: 521px;
  max-width: 282px;
  margin: 0px auto 29px;
  font-size: 25px;
  line-height: 31px;
  font-weight: 300;
  color: #fff;

	@media (min-width: 700px) {
    position: relative;
		font-size:40px;
    line-height: 49px;
    bottom: 0px;
    padding-left: 26px;
    padding-right: 29px;
	}

	@media (min-width: 1200px) {
		margin: 0px auto 54px;
    font-size: 50px;
	  line-height: 1.2;
	  font-weight: 300;
	}
}

.spec__link {
	margin: auto 18px;
}

.spec__text {
  padding-top: 2px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	color: #fff;

	@media (min-width: 700px) {
		padding-top: 17px;
		font-size: 18px;
	}

	@media (min-width: 1200px) {
		padding-top: 27px;
	}
}
