
.logo {
  height: 66px;
  width: 95px;
  font-size: 0;
  margin-left: 20px;

  &--page-header {
    position: absolute;

    top: 22px;
    left: 0;

    z-index: 100;

    &:hover .logo-pink-white-mobile {
      fill: #d22856;
      transition: 0.1s;
    }

    &:active .logo-pink-white-mobile {
      fill: #fff;
      opacity: 0.3;
      transition: 0.1s;
    }
  }

  &--big {
    width: 147px;
    height: 40px;
  }

  &--footer {
    display: inline-block;
    vertical-align: middle;

    position: static;

    margin-bottom: 37px;

    &:hover .logo-pink-blue-mobile {
      fill: #d22856;
      transition: 0.2s;
    }

    &:active .logo-pink-blue-mobile {
      fill: #283645;
      opacity: 0.3;
      transition: 0.1s;
    }
  }
}

@media (min-width: 660px) {
  .logo {
    width: 147px;
    height: 40px;

    &--page-header {
      top: 27px;

      &:hover .logo-pink-white-tablet {
        fill: #d22856;
        transition: 0.1s;
      }

      &:active .logo-pink-white-tablet {
        fill: #fff;
        opacity: 0.3;
        transition: 0.1s;
      }
    }

    &--footer {
      margin-bottom: 0;
    }
  }
}

@media (min-width:1200px) {
  .logo {
    position: static;
    float: left;

    margin-top: 27px;

    &--footer {
      margin-top: 0;

      &:hover .logo-pink-blue-desktop {
        fill: #d22856;
        transition: 0.1s;
      }

      &:active .logo-pink-blue-desktop {
        fill: #283645;
        opacity: 0.3;
        transition: 0.1s;
      }
    }

    &--page-header {
      &:hover .logo-pink-white-desktop {
        fill: #d22856;
        transition: 0.1s;
      }

      &:active .logo-pink-white-desktop {
        fill: #fff;
        opacity: 0.3;
        transition: 0.1s;
      }
    }
  }
}
