
.logo-pink-white-mobile,
.logo-pink-white-tablet,
.logo-pink-white-desktop {
  fill: #ffffff;
}
.logo-pink-blue-mobile,
.logo-pink-blue-desktop {
  fill: #283645;
}

.logo-pink-white-tablet,
.logo-pink-white-desktop,
.logo-pink-blue-desktop {
  display: none;
}

.logo {
  height: 66px;
  width: 95px;
  font-size: 0;
  margin-left: 20px;

  &--page-header {
    position: absolute;

    top: 22px;
    left: 0;

    z-index: 100;

    &:hover .logo-pink-white-mobile {
      fill: #d22856;
      transition: 0.1s;
    }

    &:active .logo-pink-white-mobile {
      fill: #fff;
      opacity: 0.3;
      transition: 0.1s;
    }
  }

  &--big {
    width: 147px;
    height: 40px;
  }

  &--footer {
    display: inline-block;
    vertical-align: middle;

    position: static;

    margin-bottom: 37px;

    &:hover .logo-pink-blue-mobile {
      fill: #d22856;
      transition: 0.2s;
    }

    &:active .logo-pink-blue-mobile {
      fill: #283645;
      opacity: 0.3;
      transition: 0.1s;
    }
  }
}

@media (min-width: 660px) {
  .logo-pink-white-mobile {
    display: none;
  }

  .logo-pink-white-tablet {
    display: block;
  }
  .logo {
    width: 147px;
    height: 41px;
    margin-left: 46px;
    &--page-header {


      &:hover .logo-pink-white-tablet {
        fill: #d22856;
        transition: 0.1s;
      }

      &:active .logo-pink-white-tablet {
        fill: #fff;
        opacity: 0.3;
        transition: 0.1s;
      }
    }

    &--footer {
      margin-bottom: 0;
      margin-left: 0px;
    }
  }
}

@media (min-width:1200px) {
  .logo-pink-white-tablet,
  .logo-pink-blue-mobile {
    display: none;
  }

  .logo-pink-white-desktop,
  .logo-pink-blue-desktop {
    display: block;
  }

  .net-links{
    margin-left: 228px;
  }
  .logo {
    position: static;
    float: left;
    margin-left: 15px;
    margin-top: 2px;

    &--footer {
      margin-top: 0px;
      margin-left: 7px;

      &:hover .logo-pink-blue-desktop {
        fill: #d22856;
        transition: 0.1s;
      }

      &:active .logo-pink-blue-desktop {
        fill: #283645;
        opacity: 0.3;
        transition: 0.1s;
      }
    }

    &--page-header {
      &:hover .logo-pink-white-desktop {
        fill: #d22856;
        transition: 0.1s;
      }

      &:active .logo-pink-white-desktop {
        fill: #fff;
        opacity: 0.3;
        transition: 0.1s;
      }
    }
  }
}

