.price{
  padding-bottom: 26px;
  background-color: #f2f2f2;
  position: relative;

  &::after{
    content:'';
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-left: 100vw solid white;
    border-bottom: 8vw solid transparent;
  }
}

.price__wrapper{
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .price__base {
    border-left: 3px solid #e5e5e5;
    border-right: 3px solid #e5e5e5;
  }

  .price__standart{
    border-right: 3px solid #e5e5e5;
  }

  .price__anlim{
    border-right: 3px solid #e5e5e5;
  }

  .price__empty{
    display: none;
  }

  .price__switcher{
    display: none;
  }

  .price__table{
    margin-left: -161px;
    display: flex;
    margin-top: 94px;
  }


  .price__head{
    position: relative;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: white;
    background-color: #283645;
    text-align: center;
    width: 278px;
    height: 82px;
    padding-top: 16px;

    p{
      margin-top: 2px;
      margin-bottom: 0;
      font-size: 24px;
      font-weight: lighter;
    }

    &--hit{
      display: block;
      top: 0;
      overflow: hidden;

      &::before {
        position: absolute;
        content: "хит";

        height: 40px;
        width: 121px;
        top: 9px;
        left: -38px;
        font-size: 14px;
        line-height: 42px;

        text-align: center;
        vertical-align: center;
        text-transform: uppercase;
        color: #fff;
        background-color: #d22856;
        transform: rotate(-45deg);

        z-index: 10;
      }
    }
  }

  .price__cell{
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 13px;
    padding-left: 22px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    border-bottom: 2px solid #e5e5e5;
    border-top: none;
    background-color: white;
  }

  .price__nav{
    margin-top: 20px;
  }

.slider-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 59px;
  min-height: 12px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 21px;
}

li{
	list-style: none;
}

ul{
	margin-left: 0;
    padding-left: 0;
}
@media (max-width:659px){
  #price-radio-1:checked ~ .price__table {
    transform: translateX(280px);
    transition: 0.5s;
  }

  #price-radio-2:checked ~ .price__table {
    transform: translateX(0px);
    transition: 0.5s;
  }

  #price-radio-3:checked ~ .price__table {
    transform: translateX(-280px);
    transition: 0.5s;
  }

  #price-radio-1:checked ~ .price__nav label[for="price-radio-1"],
  #price-radio-2:checked ~ .price__nav label[for="price-radio-2"],
  #price-radio-3:checked ~ .price__nav label[for="price-radio-3"] {
    background-color: white;
    border: 3px solid #283645;
  }
}

@media(min-width: 660px){

    .price__wrapper{
      padding-left: 20px;
      padding-top: 108px;
      margin: 0 auto;
      width: 675px;
    }

    .price__table{
      margin-left: 20px;
      position: relative;
      margin: 0 auto;
    }

    .price__empty{
      display: block;
    }

    .price__head{
      width: 160px;
      min-height: 78px;
      font-size: 16px;
      font-weight: bold;

      &--hit{
        &::before{
          height: 40px;
          width: 157px;
          top: -1px;
          left: -60px;
          line-height: 47px;
        }
      }

      &--empty{
        background-color: #f2f2f2;
        width: 154px;
      }
      p{
        font-size: 18px;
        font-weight: lighter;;
      }
    }

    .price__cell{
      min-height: 46px;
      padding: 7px 15px;

    &--ok{
      font-size: 0;
      line-height: 0;
    }

    &--no{
      font-size: 0;
      line-height: 0;
    }

    }
}

@media(min-width: 1200px){
  .price{
    padding-top: 108px;
  }

  .price__wrapper{
      margin: 0 auto;
      width: 940px;
      padding-top: 51px;

    }

    .price__table{
      position: relative;
    }

    .price__empty{
      display: block;
    }

    .price__head{
      width: 237px;
      min-height: 60px;
      font-size: 18px;
      font-weight: bold;

      &--empty{
        background-color: #f2f2f2;
        width: 237px;
      }
      p{
        font-size: 18px;
        font-weight: lighter;;
      }
    }
}
