.reviews{
  padding-top: 18px;

}

.reviews__wrapper{
    width: 280px;
    margin: 0 auto;
  }

  .reviews__items{
    position: relative;
    min-height: 290px;
    overflow: hidden;
  }

  .reviews__item {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition-property: opacity;
    transition: 0.2s ease-out;
  }

  .reviews__nav {
    position: absolute;
    bottom: 0;

    left: 50%;
    transform: translateX(-50%);
  }


  .reviews__switcher{
    display: none;
  }

  .reviews__title{
    font-weight: bold;
    margin-bottom: 13px;
  }

  .reviews__content{
    font-size: 14px;
    line-height: 30px;
    margin-top: 12px;
    margin-bottom: 37px;

  }

  .reviews__toggle {
    display: none;
  }

  .reviews__intro{
    display: none;
  }

  #reviews-radio-1:checked ~ .reviews__item--nikolay,
  #reviews-radio-2:checked ~ .reviews__item--vasya,
  #reviews-radio-3:checked ~ .reviews__item--kolya {
    position: static;
    padding-bottom: 30px;

    visibility: visible;
    opacity: 1;
  }

  #reviews-radio-1:checked ~ .reviews__nav label[for="reviews-radio-1"],
  #reviews-radio-2:checked ~ .reviews__nav label[for="reviews-radio-2"],
  #reviews-radio-3:checked ~ .reviews__nav label[for="reviews-radio-3"] {
    background-color: white;
    border: 3px solid #283645;
  }

@media(min-width: 660px){
  .reviews{
    padding-top: 1px;
  }

  .reviews__items{
    min-height: 243px;
  }

  .reviews__wrapper{
      width: 620px;
    }

    .reviews__inner-wrapper{
      order: 2;
    }

    .reviews__item{
      text-align: center;
      display: flex;
      flex-direction: column;
      visibility: hidden;
      opacity: 0;
    }

    .reviews__content{
      font-size: 18px;
      order: 0;
      margin-bottom: 40px;
    }

    .reviews__title{
      margin-bottom: 15px;
      margin-top: -8px;
      margin-bottom: 2px;

    }

    .reviews__intro {
      display: block;
      margin-top: 0px;;
      font-size: 14px;
    }
    #reviews-radio-1:checked ~ .reviews__item--nikolay,
    #reviews-radio-2:checked ~ .reviews__item--vasya,
    #reviews-radio-3:checked ~ .reviews__item--kolya {
      display: flex;
      flex-direction: column;

      visibility: visible;
      opacity: 1;
    }

    #reviews-radio-1:checked ~ .reviews__nav label[for="reviews-radio-1"],
    #reviews-radio-2:checked ~ .reviews__nav label[for="reviews-radio-2"],
    #reviews-radio-3:checked ~ .reviews__nav label[for="reviews-radio-3"] {
      background-color: white;
      border: 3px solid #283645;
    }
  }


@media(min-width: 1200px){
  .reviews{
    margin-bottom: -37px;
    padding-top: 0px;
    padding-bottom: 0px;
   }

  .reviews__wrapper {
      padding-bottom: 8px;
      width: 940px;
    }

    .reviews__content {
      padding: 0 95px;
    }

    .reviews__items {
      position: relative;
    }

    .reviews__title {
      margin-bottom: 0;
      margin-top: -1px;
      font-size: 24px;
      line-height: 30px;

    }

    .reviews__intro {
      display: block;

      margin-top: 0;

      font-size: 18px;
      line-height: 34px;
    }

    .reviews__toggle {
      display: block;

      position: absolute;

      top: 40px;

      width: 60px;
      height: 42px;

      font-size: 0;
      line-height: 0;

      border: none;
      outline: none;

      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: 22px 41px;

      outline: none;
      cursor: pointer;

      z-index: 1;

      &--prev {
        left: 0;
      }

      &--next {
        right: 0;
      }
    }
  }

  .reviews__inner-wrapper {
    @media (min-width: 1200px){
      padding-left: 38px;
    }
    @media (min-width: 700px){
      margin-top: 1px;
    }
}
