
.price .icon-yes,
  .price .icon-no {
    display: block;
    width: 31px;
    margin-left: 60px;
  }

.price .icon-yes {
  margin-left: 81px;
  fill: #3dc644;
}

.price .icon-no {
  fill: #f25b26;
}

.arrow {
  position: absolute;

  fill: #bec2c7;
  top: 0;

  z-index: 10;
}

.heart{
  fill: #d22856;
}
.user-photo .heart{
  display: block;
  margin-left: 91px;
  width: 14px;
  height: 14px;
  margin-left: -114px;
  margin-top: 4px;
}

.reviews__toggle--prev .arrow {
  left: 0;
}

.reviews__toggle--next .arrow {
  right: 0;
}

.reviews__toggle .arrow:hover {
  fill: #7e868f;
}

.reviews__toggle:active .arrow {
  opacity: 0.1;
}

.svg-triangle-decor {
  position: relative;
}

.bg-triangle-white-footer {
  display: block;
  position: absolute;
  top: -1px;
  width: 100%;
  height: auto;
  z-index: 1000;
}

.icon-timer{
 display: none;
}
.icon-timer--desk{
  display: none;
}

.icon-editor-diagram{
display: none;
}

i.con-editor-diagram--desk{
  display: none;
}


.net-icon {
  position: absolute;

  fill: #d22856;

  &--twitter {
    left: 16px;
    top: 16px;
  }

  &--facebook {
    left: 19px;
    top: 13px;
  }

  &--youtube {
    left: 17px;
    top: 16px;
  }
}

.net-links {
  padding-top: 3px;
  font-size: 0;
  margin: 0 auto;
  margin-bottom: 36px;
  display: flex;
  flex-direction: row;

  &__link {
  position: relative;
  margin: 0 6px;
  width: 47px;
  height: 47px;
  font-size: 0;
  line-height: 0;
  background-color: white;
  border: 2px solid #e9ebec;
  border-radius: 50%;
  }

  &__link:hover {
    border-color: #283645;
    transition: 0.4s;
  }

  &__link:active {
    opacity: 0.1;
    transition: 0.1s;
  }
}
.quotes{
  display: none;
}

.crop,
.fill,
.contrast {
  fill: #283645;
}

.contrast {
  position: absolute;
  top: 6px;
  left: 4px;
}

.heart--panoram{
  position: absolute;
  left: 118px;
}

@media(min-width:660px){
  .user-photo .heart{
    display: block;
    margin-left: 91px;
    width: 14px;
    height: 14px;
    margin-left: 100px;
    margin-top: 4px;
  }
  .crop,
  .fill,
  .contrast {
    fill: #d22856;
  }

  .crop {
    width: 24px;
    height: 24px;
  }

  .fill {
    width: 26px;
    height: 24px;
  }

  .contrast {
    width: 16px;
    height: 16px;

    top: 0;
    left: 0;
  }
  .icon-timer{
    display: block;
    position: absolute;
    fill:  #dedede;
    left: -15px;
    top: 60px;
    &--desk{
      display: none;
    }
  }

  .icon-editor-diagram{
    position: absolute;
    fill: #e9ebec;
    display: block;
    z-index: 100;
    left: 22px;
    top: 116px;
    &--desk{
      display: none;
    }
  }

  .price .icon-yes,
  .price .icon-no {
    display: block;
    width: 31px;
    margin: 0 auto;
  }

  .net-links{
    width: auto;
    margin-left: 68px;
    margin-bottom: 0;
  }
  .heart--panoram{
    left: 0px;
  }
}

@media(min-width:1200px){
  .crop {
    width: 49px;
    height: 48px;
  }

  .fill {
    width: 49px;
    height: 48px;
  }

  .contrast {
    width: 32px;
    height: 32px;
  }
  .icon-timer{
    display: none;
    &--desk{
      display: block;
      top: 83px;
      left: -7px;
    }
  }

  .icon-editor-diagram{
    display: none;

    &--desk{
      display: block;
      display: block;
      top: 152px;
      left: 14px;
    }
  }
  .quotes{
    display: block;
    position: relative;
    height: 80px;
    margin-left: 452px;
    padding-bottom: 41px;
    width: 63px;
    fill: #dedede;
    @media (min-width: 1200px){

      height: 74px;
      margin-left: 435px;
      padding-bottom: 30px;
      width: 79px;
      fill: #dedede;
    }
  }
  .net-links{
    margin-left: 228px;
  }
}
