.advantages {
  padding-top: 40px;


&__slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: lighter;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 46px;
  width: 200px;

  &--second{
    width: 200px;
    margin: 0 auto;
  }
}

&__wrapper {
  position: relative;
  padding-top: 53px;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: 100% auto;

  &::after{
    content:'';
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-left:100vw solid white;
    border-bottom: 12vw solid transparent;
  }
}

&__list{
  width: 280px;
  margin: 0 auto;
  list-style-type: none;
  list-style-position: none;
  padding: 0;
}

&__item {
  text-align: center;
	width: 100%;
	margin: 0 auto;
  padding-top: 40px;

  &--img{
    z-index: 3;
    padding-bottom: 318px;
    background-image: url(../img/iphone-screen-mobile@1x.png);
    background-repeat: no-repeat;
    background-position: 50% 261px;
    background-size: 157px auto;
  }
}

&__title {
  font-size: 18px;
  line-height: 24px;

  margin-top: 38px;
  margin-bottom: 10px;
}

&__content {

  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 38px;
}

&__description{
  font-size: 14px;
  margin-top: 12px;
}

&__item-img {
  display: none;
}

&__science {
  display: none;
}
}

@media(min-width: 660px){
  br{
    display: none;
  }
  .advantages{
    &__slogan{
      margin-bottom: 0;
      padding: 0;
      font-size: 40px;
      line-height: 48px;
      width: 620px;

      &--second{
        width: 408px;
        margin: 0 auto;
        margin-bottom: 50px;
      }
    }

    &__list{
      width: 620px;
    }

    &__wrapper{
      padding-bottom: 26px;
      padding-top: 38px;

      &::before{
        z-index: 10;
        position: absolute;
        content: "";
        width: 268px;
        height: 481px;
        left: 0;
        top: 50px;
        margin-left: 20px;
        background-image: url(../img/iphone-screen-3-tablet@1x.png);
        background: linear-gradient(-120 #f2f2f2 white);
        background-repeat: no-repeat;
        background-position: 25% 0;
      }
    }
    &__item{
      padding-top: 0px;
      display: block;
      width: 310px;
      margin-left: 300px;
      padding-left: 10px;
      text-align: left;

      &--img {
        padding-bottom: 0;
        background-image: none;
      }
    }

    &__science-wrapper{
      background-color: white;
    }

    &__science{
      display: block;
      position: relative;
      min-height: 183px;
      width: 320px;
      margin: 0 auto;
      padding-top: 76px;
      padding-left: 315px;
      padding-bottom: 110px;

      &::before {
        position: absolute;
        content: "";
        width: 175px;
        height: 175px;
        top: 130px;
        left: 38px;
        background-color: #fff;
        border-radius: 50%;
      }

      &::after {
        position: absolute;
        content: "24";
        font-size: 96px;
        line-height: 96px;
        font-weight: 700;
        color: #d22856;
        top: 165px;
        left: 68px;
      }
    }

    &__science-title{
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 10px;
      width: 175px;
      display: block;
    }

    &__science-text{
      font-size: 14px;
      line-height: 24px;
      margin-top: 10px;
      margin-bottom: 6px;
    }

    &__link{
      font-size: 14px;
      line-height: 24px;
      color: #d22856;
    }
  }
}


  @media(min-width: 1200px){


    .advantages {
      padding-top: 67px;
      padding-bottom: 67px;

      &__slogan {
        font-size: 50px;
        line-height: 60px;
        width: 940px;

        &--second{
          width: 620px;
        }
      }

      &__wrapper {
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;

        width: auto;

        &::before{
          display: none;
        }

        &::after{
          content:'';
          position: absolute;
          right: 0;
          top: 0;
          width: 0;
          height: 0;
          border-left:100vw solid white;
          border-bottom: 8vw solid transparent;
        }
      }

      &__list {
        margin-top: 56px;
        width: 940px;
        display: flex;
        justify-content: space-between;
        z-index: 3;
        flex-wrap: wrap;
      }

      &__item {
        margin-top: 5px;
        text-align: center;
        flex-basis: 300px;
        margin-left: 0;
        display: block;
        z-index: 10;
      }

       &__title {
        margin-top: 56px;
        margin-bottom: 24px;
        font-size: 30px;
        line-height: 30px;
      }

      &__item-image {
        display: block;
        width: 100%;
        height: 301px;
        z-index: 10;

        &--gray{
          background-image: url(../img/iphone-screen-1-desktop@1x.png);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: 292px auto;
        }

        &--pink{
          background-image: url(../img/iphone-screen-2-desktop@1x.png);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: 292px auto;
        }

        &--smile{
          background-image: url(../img/iphone-screen-3-desktop@1x.png);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: 292px auto;
        }
    }

      &__description {
        font-size: 18px;
        line-height: 30px;

        padding-left: 32px;
        padding-right: 32px;
      }

      &__science-wrapper {
        background-color: #f2f2f2;
          padding-top: 71px;
      }

      &__science {
        box-sizing: border-box;
        width: 940px;

        padding-top: 157px;
        padding-bottom: 113px;
        padding-left: 365px;

        background-size: 253px 253px, 298px 345px;
        background-position: 23px 136px, 0 66px;

        &::before {
          width: 220px;
          height: 220px;

          left: 39px;
          top: 182px;
        }

        &::after {
          font-size: 120px;
          line-height: 120px;

          left: 80px;
          top: 212px;
        }
      }

        &__science-title {
          width: auto;
          margin-bottom: 21px;
        }

        &__science-text {
          width: auto;

          margin-top: 20px;
          margin-bottom: 31px;

          padding-right: 45px;
          padding-left: 0;

          font-size: 18px;
          line-height: 30px;
        }

      &__link {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }


