.btn {
  padding-left: 37px;
  padding-right: 33px;

  padding-top: 14px;
  padding-bottom: 17px;

  font-size: 18px;
  line-height: 18px;
  color: white;
  text-decoration: none;
  font-weight: bold;

  border: 3px solid white;
  border-radius: 30px;
}.btn {
  padding-left: 37px;
  padding-right: 33px;

  padding-top: 14px;
  padding-bottom: 17px;

  font-size: 18px;
  line-height: 18px;
  color: white;
  text-decoration: none;
  font-weight: bold;

  border: 3px solid white;
  border-radius: 30px;
}

.btn:hover {
  color: #d22856;
  background-color: white;
  transition: 0.2s;
}

.btn:active {
  color: rgba(210, 40, 86, 0.3);
  background-color: white;
}

.radio{
  width: 15px;
  height: 15px;

  top: 12px;
  left: 12px;

  background-color: #d22856;
  border-radius: 50%;
}

.map{
  width: 100%;
    height: 200px;
}
@media(min-width: 660px){
  .btn {
    padding-left: 46px;
    padding-right: 45px;
  }
}

@media(min-width: 1200px){
  .btn {
    padding-left: 27px;
    padding-right: 27px;

    font-size: 21px;
  }
}


.btn:hover {
  color: #d22856;
  background-color: white;
  transition: 0.2s;
}

.btn:active {
  color: rgba(210, 40, 86, 0.3);
  background-color: white;
}

.radio{
  width: 15px;
  height: 15px;

  top: 12px;
  left: 12px;

  background-color: #d22856;
  border-radius: 50%;
}

.map{
  width: 100%;
    height: 200px;
}
@media(min-width: 660px){
  .btn {
    padding-left: 46px;
    padding-right: 45px;
  }
}

@media(min-width: 1200px){
  .btn {
    padding-left: 27px;
    padding-right: 27px;

    font-size: 21px;
  }
}
