
.checkbox,
.radio {
  display: none;
}

.label {
  font-size: 14px;
  line-height: 30px;



  &--checkbox,
  &--radio {
    display: inline-block;
    vertical-align: middle;

    position: relative;

    font-size: 18px;
    line-height: 30px;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;

      width: 35px;
      height: 35px;

      margin-right: 31px;

      background-color: white;
      border: 2px solid #e5e5e5;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover::before {
      border-color: #283645;
      transition: 0.2s;
    }
  }

  &--radio {
    &::before {
      border-radius: 50%;
    }
  }

  &--checkbox {
    &::before {
      border-radius: 2px;
    }
  }
}

.checkbox + .label--checkbox .icon-yes {
  display: none;
}

.radio + .label--radio::after {
  display: none;
}

.checkbox + .label--checkbox:active::before,
.radio + .label--radio:active::before {
  border-color: #d22856;
}

.checkbox + .label--checkbox:active .icon-yes,
.checkbox:checked + .label--checkbox .icon-yes {
  position: absolute;
  display: block;

  top: 9px;
  left: 5px;

  fill: #d22856;

  transition: 0.5s;
}

.radio + .label--radio:active::after,
.radio:checked + .label--radio::after {
  display: block;
  position: absolute;
  content: "";

  width: 15px;
  height: 15px;

  top: 12px;
  left: 12px;

  background-color: #d22856;
  border-radius: 50%;
}

.textarea-text {
  width: 100%;
  box-sizing: border-box;

  min-height: 201px;

  margin-top: 6px;

  padding-left: 21px;
  padding-right: 21px;

  padding-top: 15px;

  border: 2px solid #e5e5e5;
  border-radius: 2px;

  &:hover {
    border-color: #283645;
  }

  &:focus {
    border-color: #d22856;
    outline: none;
  }
}

.controls {
  position: absolute;
  overflow: hidden;

  display: none;

  top: 119px;

  width: 100%;
  height: 14px;

  margin-left: 0;
  padding-bottom: 28px;

  border-bottom: 1px solid #dddfe0;

  &__scale {
    position: relative;
    @include container;

    box-sizing: border-box;

    margin-top: 6px;
    padding-left: 20px;
    padding-right: 20px;

    z-index: 1;
  }

  &__bar {
    height: 2px;
    background-color: #283645;
  }

  &__toggle {
    position: absolute;
    z-index: 10;

    cursor: pointer;

    width: 10px;
    height: 10px;

    top: -6px;
    left: 14px;


    background-color: #f2f2f2;
    border: 2px solid #cd2856;
    border-radius: 50%;
  }

  &__toggle--crop {
    left: 55px;
  }

  &__toggle--fill {
    left: 76px;
  }

  &__toggle--contrast {
    left: 120px;
  }
}

@media ($mobile-width-only) {
  .controls--hidden {
    display: none;
  }
}

@media ($tablet-width) {
  .form-btn {
    min-width: 300px;
    margin-top: 20px;
  }

  .btn {
    padding-left: 46px;
    padding-right: 45px;
  }

  .text {
    width: auto;
    flex-grow: 1;

    margin-bottom: 0;
  }

  .tel,
  .email {
    margin-bottom: 10px;
  }

  .textarea-text {
    min-height: 193px;

    margin-top: 21px;

    padding-top: 15px;
  }

  .label {
    &--caption {
      padding-left: 0;
      padding-right: 22px;

      margin-bottom: 0;
    }

    &--checkbox,
    &--radio {
      margin-right: 21px;

      &::before {
        margin-right: 22px;
      }
    }
  }

  .controls {
    position: static;
    display: block;
    margin-bottom: 30px;

    &__scale {
      width: 275px;

      padding-left: 55px;
      padding-right: 18px;
    }

    &:nth-of-type(2) {
      margin-bottom: 27px;
    }
  }
}

@media ($desktop-width) {
  .btn {
    padding-left: 29px;
    padding-right: 28px;

    font-size: 21px;
  }

  .textarea-text {
    min-height: 128px;

    margin-top: 8px;
  }

  .controls {
    &__scale {
      width: 410px;

      padding-right: 30px;
      padding-left: 92px;

    }

    &__toggle--crop {
      left: 95px;
    }

    &__toggle--fill {
      left: 155px;
    }

    &__toggle--contrast {
      left: 295px;
    }
  }

  .label--checkbox {
    margin-right: 5px;
  }
}
