.main-nav {
  min-height: 66px;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;

  &__logo-wrapper{
    width: 280px;
    margin: 0 auto;
    position: relative;
  }

  &__wrapper{
    width: 100%;
    top:0;
    z-index: 10;
  }

  &__item{
    text-align: center;
    background-color: #283645;
    border-bottom: 1px solid #010101;
    border-top: 1px solid #485461;
    color: white;
  }

&__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

&__link{
	display: block;
  overflow: hidden;
  position: relative;
  padding-top: 18px;
  padding-bottom: 18px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

&__toggle {
  display: block;
  position: absolute;
  border: none;
  outline: none;
  top: 0;
  right: 0;
  width: 200px;
  min-height: 66px;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  z-index: 100;
}
}
