.main-nav {
  min-height: 66px;

  background-color: rgba(0, 0, 0, 0.5);

  width: 100%;

  &__logo-wrapper {
    width: 280px;
    margin: 0 auto;
    position: relative;
  }

  &__wrapper--top {
    position: absolute;
  }

  &__wrapper {
    width: 100%;

    top: 0;
    z-index: 10;
  }

  &__toggle {
    display: block;
    position: absolute;

    border: none;
    outline: none;

    top: 0;
    right: 0;

    width: 200px;
    min-height: 66px;

    font-size: 0;
    line-height: 0;

    background-color: transparent;

    z-index: 100;

    .icon-menu {
      position: absolute;

      top: 21px;
      right: 0;

      fill: #ffffff;
    }

    &:hover .icon-menu {
      fill: #d22856;
      transition: 0.1s;
    }

    .icon-menu--cross {
      display: none;
    }

    &--closed {
      .icon-menu--burger {
        display: none;
      }

      .icon-menu--cross {
        display: block;
      }
    }

    &:active .icon-menu {
      opacity: 0.3;
    }
  }

  &__items {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    text-align: center;

    background-color: #283645;
    border-bottom: 1px solid #010101;
    border-top: 1px solid #485461;

    &--nav-height {
      height: 66px;
    }
  }

  &__link {
    display: block;
    overflow: hidden;

    position: relative;

    padding-top: 18px;
    padding-bottom: 18px;

    text-decoration: none;

    color: white;

    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media (min-width: 660px) {
  .main-nav {
    min-height: 110px;
    margin: 0;

    &__wrapper {
      width: 100%;
      top: 0;
    }

    &__logo-wrapper {
      width: 620px;
    }

    &__toggle {
      min-height: 110px;

      &::after {
        right: 0;
      }

      .icon-menu {
        top: 44px;
      }
    }

    &__item {
      &--nav-height {
        height: 110px;
      }
    }

    &__link {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

@media (min-width:1200px) {
  .main-nav {
    position: static;

    &__main-wrapper {
      width: 940px;
      margin: 0 auto;
    }

    &__wrapper {
    position: static;
    float: right;

    min-width: 660px;
    max-width: 790px;

    text-align: right;
    }

    &__logo-wrapper {
      width: 940px;
    }

    &__items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-grow: 1;

      justify-content: flex-end;
      align-items: center;
    }

    &__item {
      overflow: hidden;

      background-color: transparent;
      border: none;
    }

    &__item--wrapped {
      background-color: rgba(0, 0, 0, 0.5);

      .main-nav__link {
        padding-left: 41px;
        padding-right: 41px;

        text-align: center;
      }
    }

    &__link {
      padding-left: 0;
      padding-left: 82px;

      font-weight: normal;
      text-transform: none;
    }

    &__item:hover .main-nav__link::after {
      content: "";
      position: absolute;

      height: 2px;

      top: 54px;
      left: 82px;
      right: 0;

      background-color: white;
      transition: 0.2s;
    }

    &__item--active .main-nav__link::after {
      content: "";
      position: absolute;

      height: 2px;

      top: 54px;
      left: 82px;
      right: 0;

      background-color: #d22856;

      transition: 0.1s;
    }

    &__link:active {
      opacity: 0.3;
    }

    &__toggle {
      display: none;
    }
  }
}

@media (max-width: 1199px) {
  .main-nav {
    &__item--active .main-nav__link {
      color: #d22856;
    }

    &__item:hover {
      background-color: #1b242d;
    }

    &__item--active:hover {
      background-color: #283645;
    }

    &__link:active {
      opacity: 0.3;
    }
  }

  .main-nav__wrapper--closed {
    .main-nav__items {
      display: none;
    }
  }
}
