.page-footer{
  position: relative;
  padding-top: 41px;

  &__wrapper{
    width: 280px;
    margin: 0 auto;
  }

  &__contacts{
    text-align: center;
	  padding-bottom: 41px;
  }

  &__title{
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 30px;
    font-weight: lighter;
  }

  &__action{
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 3px;
    font-size: 18px;
    line-height: 21px;
  }

  &__info, &__mail{
    margin-top: 0;
    margin-bottom: 25px;
    color: #d22856;
    font-size: 24px;
    line-height: 29px;
  }

  &__mail{
    text-decoration: none;
 }

 &__mail:hover {
   color: #283645;
   text-decoration: underline;
}

&__mail:active {
  color: rgba(40, 54, 69, 0.3);
  text-decoration: none;
}

&__call-us,&__write-us,&__visit-us {
   margin-bottom: 23px;
}

&__links{

  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &--visual{
    display: none;
  }
}

&__developer{
  position: relative;
}

&__developer-link{
  font-size: 14px;
    line-height: 18px;

    padding-right: 42px;

    color: #283645;
    text-decoration: none;

    .logo-htmlacademy {
      position: absolute;
      fill: #d22856;
      right: -10px;
      top: -4px;
    }

    &:hover .logo-htmlacademy {
      fill: #283645;
      transition: 0.2s;
    }

    &:active .logo-htmlacademy {
      opacity: 0.3;
      transition: 0.2s;
    }
  }

  &__map {
    height: 200px;

    background-color: #f2f2f2;
    background-image: url(../img/bg-triangle-white-footer.svg),
                      url(../img/bg-map-mobile@1x.png);

    background-repeat: no-repeat;

    background-size: 100% auto,
                     320px auto;

    background-position: 50% 0,
                         50% 0;
    font-size: 0;
    line-height: 0;
  }
}

@media(min-width: 660px){
  .page-footer{
    padding-top: 46px;

    &__wrapper{
      width: 620px;
    }

    &__contacts{
      padding-bottom: 26px;
      display: flex;
      flex-wrap: wrap;
    }

    &__title{
      width: 400px;
      margin-left: auto;
      margin-right: auto;
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 45px;
    }

    &__call-us{
      margin-bottom: 47px;
      width: 300px;
      float: left;
    }

    &__write-us{
      margin-bottom: 47px;
      width: 300px;
      float: right;
    }

    &__visit-us{
      width: 320px;
      margin-left: auto;
      margin-right: auto;
    }

    &__action{
      margin-bottom: 10px;
    }

    &__info{
      line-height: 30px;
    }

    &__links{
      width: 620px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      align-items: flex-start;

      padding-top: 36px;
      padding-bottom: 37px;

      background-color: white;
    }

    &__developer {
      padding-top: 12px;

      text-align: left;
    }

    &__developer-link{
      font-size: 14px;
      line-height: 18px;

      .logo-htmlacademy {
        right: -10px;
        top: 8px;
      }
    }

    &__map {
      height: 377px;
      background-image: url(../img/bg-map-tablet@1x.jpg);
      background-repeat: no-repeat,
                         repeat;
    }
  }
}

@media(min-width:1200px){
  .page-footer{
    padding-top: 63px;;

    &__wrapper{
      width: 940px;
    }

    &__title{
      width: 940px;
      padding-left: 180px;
      padding-right: 180px;
    }

    &__call-us{
      order: 1;
    }

    &__write-us{
      order: 3;
    }

    &__visit-us{
      order: 2;
    }

    &__links{
      width: 940px;
      padding-top: 70px;
      padding-bottom: 72px;
    }

    &__map {
      height: 501px;
      background-image: url(../img/bg-map-desktop@1x.jpg);
    }

    &__developer-link{
      padding-right: 45px;
      font-size: 18px;
    }
  }
}

