.photo-load{
  &__content-wrapper{
    width: 280px;
    margin: 0 auto;
    margin-bottom: 78;
    margin-top: 56px;
  }

  &__content{
    font-size: 14px;
    line-height: 30px;

    text-align: center;
  }

  &__post{
    padding-top: 20px;
    padding-bottom: 29px;
    background-color: #f2f2f2;
  }
}

@media(min-width: 660px){
  .photo-load{

    &__content-wrapper{
      width: 620px;
    }
  }
}
