.photo-load {
  &__content-wrapper {
    width: 280px;
    margin: 0 auto;
  }

  &__img {
    width: 280px;
    margin: 0 auto;
    display: block;

    height: 374px;
  }

  &__picture {
    width: 280px;
    height: 374px;
  }

  &__form {
    padding-top: 20px;
    padding-bottom: 29px;

    background-color: #f2f2f2;
  }

  &__content {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
  }

  &__content:first-of-type {
    margin-top: 0;
    padding-top: 23px;
  }

  &__content:last-of-type {
    margin-bottom: 0;
    padding-bottom: 42px;
  }

  &__tools {
    font-size: 0;
    line-height: 0;
    text-align: center;
  }

  &__tools-list {
    position: relative;
    padding-top: 42px;
    margin-bottom: 38px;
  }

  &__tool {
    display: inline-block;
    vertical-align: middle;

    margin-right: 17px;
    margin-left: 17px;

    padding-bottom: 76px;

    width: 48px;
    height: 44px;

    font-size: 0;
    line-height: 0;

    border: 0;

    opacity: 0.3;
  }

  &__tool:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  &__tool--active {
    opacity: 1;
  }

  &__tool--active .crop,
  &__tool--active .fill,
  &__tool--active .contrast {
    opacity: 1;
    fill: #d22856;
  }

  &__tool--active + .controls {
    display: block;
  }

  &__tool--active + .controls .controls__toggle {
    background-color: #d22856;
  }

  &__tool--contrast {
     position: relative;
  }

  &__button {
    display: block;
    margin: 0 auto;

    box-sizing: border-box;
    width: 280px;

    margin-bottom: 12px;

    padding-left: 88px;
    padding-right: 88px;
    padding-top: 14px;
    padding-bottom: 17px;

    font-size: 18px;
    line-height: 18px;
    font-weight: bold;

    text-align: center;

    outline: none;

    border: none;
    background-color: #f2f2f2;
  }

  &__button--submit {
    color: #d22856;

    border: 3px solid #d22856;
    border-radius: 30px;

    &:hover {
      background-color: #d22856;
      color: white;

      transition: 0.2s;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);

      transition: 0.1s;
    }
  }

  &__button--reset {
    color: rgba(40, 54, 69, 0.1);

    border: 3px solid rgba(40, 54, 69, 0.1);
    border-radius: 30px;

    &:hover {
      color: rgba(40, 54, 69, 0.3);
      border-color: rgba(40, 54, 69, 0.3);

      transition: 0.2s;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: rgba(40, 54, 69, 0.3);
      border-color: #b5b9be;
      transition: 0.1s;
    }
  }
}

@media (min-width: 660px) {
  .photo-load {

    &__img {
      width: 300px;
      height: 400px;

      flex-shrink: 0;
      margin-left: 0;
      margin-right: 45px;
    }

    &__picture {
      width: 300px;
      height: 400px;
    }

    &__content {
      font-size: 18px;
      line-height: 30px;
    }

    &__form {
      padding-top: 0;
      padding-bottom: 54px;
    }

    &__form-wrapper {
      width: 620px;
      margin: 0 auto;

      display: flex;
      justify-content: space-between;

      padding-top: 57px;
    }

    &__tools {
      display: flex;
      flex-wrap: wrap;

      flex-direction: column;

      min-height: 400px;

      background-size: cover;
    }

    &__tools-list {
      padding-top: 13px;

      margin-bottom: 0;
    }

    &__tool {
      position: absolute;

      left: 0;

      margin-top: 0;
      margin-left: 0;
      margin-right: 0;

      padding-bottom: 0;

      width: 24px;
      height: 22px;
      background-size: 24px 22px;

      opacity: 1;
    }

    &__tool--crop {
      top: 10px;
      left: 4px;
    }

    &__tool--fill {
      top: 85px;
      left: 4px;
    }

    &__tool--contrast {
      width: 17px;
      height: 17px;

      top: 155px;
      left: 8px;

      background-position: 50% 50%;
      background-size: 15px 15px;
    }

    &__button {
      width: 260px;

      margin-left: 0;

      padding-left: 77px;
      padding-right: 77px;
    }

    &__button--submit {
      margin-top: auto;
    }

    &__button--reset {
      margin-top: 12px;
      margin-bottom: 0;
    }
  }

  .photo-load__content:first-of-type {
    padding-top: 45px;
  }

  .photo-load__content:last-of-type {
    padding-bottom: 69px;
  }
}

@media (min-width: 1200px) {
  .photo-load {
    &__form {
      background-color: white;
      padding-bottom: 28px;
    }

    &__form-wrapper {
      width: 940px;
      background-color: #f2f2f2;
      justify-content: flex-start;
      padding-bottom: 57px;
    }

    &__img {
      width: 300px;
      height: 400px;

      margin-left: 80px;
      margin-right: 90px;
      flex-shrink: 0;
    }

    &__picture {
      width: 300px;
      height: 400px;
    }

    &__tools {
      flex-direction: row;
      justify-content: flex-start;
      align-content: space-between;
    }

    &__tool {
      width: 48px;
      height: 44px;
      background-size: cover;
    }

    &__tool--crop {
      top: -5px;
      left: -2px;
    }

    &__tool--fill {
      top: 70px;
      left: -2px;
    }

    &__tool--contrast {
      width: 32px;
      height: 32px;
      top: 147px;
      left: 5px;
    }

    &__button {
      width: 183px;
      margin: 0;
    }

    &__button--submit {
      margin-right: 44px;
      padding-left: 42px;
      padding-right: 37px;
    }

    &__button--reset {
      padding-left: 55px;
      padding-right: 51px;
    }
  }

  .photo-load__content:first-of-type {
    padding-top: 5px;
  }

  .photo-load__content:last-of-type {
    padding-bottom: 66px;
  }
}
