.reviews{
  padding-top: 42px;
  padding-bottom: 21px;

  &__wrapper{
    width: 280px;
    margin: 0 auto;
  }

  &__items{
    position: relative;
    min-height: 290px;
    overflow: hidden;
  }

  &__item {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition-property: opacity;
    transition: 0.2s ease-out;
  }

  &__nav {
    position: absolute;
    bottom: 0;

    left: 50%;
    transform: translateX(-50%);
  }


  &__switcher{
    display: none;
  }

  &__title{
    font-weight: bold;
    margin-bottom: 13px;
  }

  &__content{
    font-size: 14px;
    line-height: 30px;
    margin-top: 12px;
    margin-bottom: 68px
  }

  &__toggle {
    display: none;
  }

  &__intro{
    display: none;
  }

  #reviews-radio-1:checked ~ .reviews__item--nikolay,
  #reviews-radio-2:checked ~ .reviews__item--vasya,
  #reviews-radio-3:checked ~ .reviews__item--kolya {
    position: static;
    padding-bottom: 30px;

    visibility: visible;
    opacity: 1;
  }

  #reviews-radio-1:checked ~ .reviews__nav label[for="reviews-radio-1"],
  #reviews-radio-2:checked ~ .reviews__nav label[for="reviews-radio-2"],
  #reviews-radio-3:checked ~ .reviews__nav label[for="reviews-radio-3"] {
    background-color: white;
    border: 3px solid #283645;
  }
}

@media(min-width: 660px){
  .reviews{
    padding-top: 1px;

    &__wrapper{
      width: 620px;
    }

    &__inner-wrapper{
      order: 2;
    }

    &__item{
      text-align: center;
      display: flex;
      flex-direction: column;
      visibility: hidden;
      opacity: 0;
    }

    &__content{
      font-size: 18px;
      order: 0;
      margin-bottom: 40px;
    }

    &__title{
      margin-top: 22px;
      margin-bottom: 15px;

    }

    &__intro {
      display: block;
      margin-top: 0px;;
      font-size: 14px;
    }
    #reviews-radio-1:checked ~ .reviews__item--nikolay,
    #reviews-radio-2:checked ~ .reviews__item--vasya,
    #reviews-radio-3:checked ~ .reviews__item--kolya {
      display: flex;
      flex-direction: column;

      visibility: visible;
      opacity: 1;
    }

    #reviews-radio-1:checked ~ .reviews__nav label[for="reviews-radio-1"],
    #reviews-radio-2:checked ~ .reviews__nav label[for="reviews-radio-2"],
    #reviews-radio-3:checked ~ .reviews__nav label[for="reviews-radio-3"] {
      background-color: white;
      border: 3px solid #283645;
    }
  }
}

@media(min-width: 1200px){
  .reviews{
    padding-bottom: 14px;

    &__wrapper {
      padding-bottom: 8px;
    }

    &__content {
      padding: 0 95px;
    }

    &__items {
      position: relative;
    }

    &__title {
      margin-bottom: 0;

      font-size: 24px;
      line-height: 30px;
    }

    &__intro {
      display: block;

      margin-top: 0;

      font-size: 18px;
      line-height: 34px;
    }

    &__toggle {
      display: block;

      position: absolute;

      top: 40px;

      width: 60px;
      height: 42px;

      font-size: 0;
      line-height: 0;

      border: none;
      outline: none;

      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: 22px 41px;

      outline: none;
      cursor: pointer;

      z-index: 1;

      &--prev {
        left: 0;
      }

      &--next {
        right: 0;
      }
    }

  }
}
