.user-photo{
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 20px;

  &--day{
    position: relative;
  }

  &__image{
    width: 280px;
    height: 180px;
  }

  &__mobile-image{
    display: block;
    width: 280px;
    height: 180px;
  }

  &__panoram {
    display: block;

    width: 100%;

    background-color: #e5e5e5;
  }

  &__evant{
    position: absolute;
    padding: 7px 23px 6px;
    right: 0;
    top: 0;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    background-color: #d22856;
  }

  &__evant-wrapper{
    position: relative;
    width: 280px;
    margin: 0 auto;
  }

  &__mobile-panoram{
    display: block;
    width: 100%;
  }

  &__artical--wrapper {
    width: 280px;
    margin: 0 auto;

    box-sizing: border-box;

    background-color: #f2f2f2;
  }

  &__artical{
    padding-top: 18px;
    padding-bottom: 20px;
    padding-left: 19px;
    padding-right: 19px;

    color: #283645;
    background-color: #f2f2f2;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 24px;

    font-weight: bold;

    color: #283645;

    span {
      font-size: 12px;

      color: #283645;

      text-transform: uppercase;
      font-weight: lighter;
    }
  }

  &__content {
    margin-top: 0;
    margin-bottom: 9px;

    font-size: 14px;
    line-height: 24px;
  }

  &__artical{
    box-sizing: border-box;

    background-color: #f2f2f2;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-left: 31px;
    font-size: 12px;
    line-height: 24px;
    color: #d22856;
    text-transform: uppercase;
  }
}

@media(min-width: 660px){
  .user-photo{
    flex-basis: 300px;

    &__mobile-image{
      width: 300px;
      height: 300px;
    }

    &--day{
      padding-bottom: 53px;
    }

    &__evant-wrapper{
      width: 620px;
    }
    &__evant{
      top: 57px;
    }

    &__image{
      width: 300px;
      height: 300px;
    }
    &__artical{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      min-height: 155px;
      padding-top: 24px;
      padding-left: 29px;
      padding-right: 29px;

      &--wrapper{
        position: relative;
        display: flex;
        width: 620px;
        flex-wrap: wrap;
        min-height: auto;
        padding-top: 24px;
        padding-bottom: 15px;
        flex-direction: row;
        align-content: flex-start;
      }

      &__ artical--wrapper .user-photo__content {
        order: 1;
      }
    }

    &__counter-like{
      padding-right: 32px;
    }

    &__footer{
      margin-top: auto;
      padding-left: 0;

      &--panoram{
        margin-top: 0;
        margin-left: auto;
        position: absolute;
        right: 28px;
      }
    }
  }
}

@media(min-width:1200px){
  .user-photo{
    padding-bottom: 54px;

    &__wrapper{
      width: 940px;
    }

    &--day{
      padding-bottom: 50px;
    }

    &__image{
      width: 300px;
      height: 400px;
    }

    &__evant{
      top: 54px;
    }

    &__artical--wrapper{
      width: 940px;
    }

    &__mobile-image{
      width: 300px;
      height: 400px;
    }
  }
}


