.user-photo{
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 20px;

  &--day{
    position: relative;
  }

  &__image{
    width: 280px;
    height: 180px;
  }

  &__mobile-image{
    display: block;
    width: 280px;
    height: 180px;
  }

  &__panoram {
    display: block;

    width: 100%;

    background-color: #e5e5e5;
  }

  &__evant{
    position: absolute;
    padding: 7px 23px 6px;
    right: 0;
    top: 0;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    background-color: #d22856;
  }

  &__evant-wrapper{
    position: relative;
    width: 280px;
    margin: 0 auto;
  }

  &__mobile-panoram{
    display: block;
    width: 100%;
  }

  &__artical--wrapper {
    width: 280px;
    margin: 0 auto;

    box-sizing: border-box;

    background-color: #f2f2f2;
  }

  &__artical{
    padding-top: 18px;
    padding-bottom: 20px;
    padding-left: 19px;
    padding-right: 19px;

    color: #283645;
    background-color: #f2f2f2;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 24px;

    font-weight: bold;

    color: #283645;

    span {
      font-size: 12px;

      color: #283645;

      text-transform: uppercase;
      font-weight: lighter;
    }
  }

  &__content {
    margin-top: 0;
    margin-bottom: 9px;

    font-size: 14px;
    line-height: 24px;
  }

  &__artical{
    box-sizing: border-box;

    background-color: #f2f2f2;
  }

  &__footer {
    position: relative;

    padding-left: 31px;

    font-size: 12px;
    line-height: 24px;

    color: #d22856;

    text-transform: uppercase;

    &::before {
      position: absolute;
      content: "";

      width: 14px;
      height: 14px;

      left: 0;
      top: 4px;

      background-image: url("../img/icon-heart.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
